.container-general {
  height: 100%;
  width: 100%;
}

.header-nav {
  background-color: #004f4f;
  color: #0dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  section.left-nav,
  section.right-nav {
    display: flex;
    align-items: center;

    .title-page {
      margin-left: 1rem;
    }

    .username {
      margin-right: 1rem;
    }
  }
}

.container-sidenav {
  height: 100%;

  .sidenav-drawer {
    border-right: 1px solid #3f4948;
    color: #d7dadb;
    border-radius: 0;
    width: 15rem;

    .list-item,
    .general-list {
      padding: 0;
    }

    a:hover,
    a {
      width: 100%;
      border-radius: 0;
      justify-content: left;
    }
  }

  .container-pages {
    color: #d7dadb;
  }
}
