<div class="container-general">
    <div class="container-content">
        <div class="container-tittle"><h1>¡BIENVENIDO PEPITO AGUILAR!</h1></div>
        <div class="container-imgs-one">
            <div class="first-container"></div>
            <div class="secound-container"></div>
            <div class="third-container"></div>
        </div>
        <div class="container-imgs-two">
            <div class="first-container-imgs">
            </div>
            <div class="secound-container-imgs">
            </div>
            <div class="third-container-imgs">
            </div>
        </div>
    </div>
</div>