.container-appliance {
  width: 25rem;
  padding: 2rem 0;
}

.title {
  text-align: center;
}

.container-elements {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.container-header {
  margin-bottom: 1rem;
}

.container-content {
  margin-top: 1rem;
}

.empty-appliances {
  display: flex;
  justify-content: center;
}

.container-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.button {
  width: 7rem;
}
