.container-appliance {
  width: 25rem;
}

.title {
  text-align: center;
}

.container-elements {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.container-header {
  margin-bottom: 1rem;
}

.container-content {
  margin-top: 1rem;
}
